*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    color: white;
    font-family: 'Inter', sans-serif;
}

.sl {
    letter-spacing: 14px;
}


/* HEADER */ 
header{
    font-family: 'Inter', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    padding: 20px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 1);
    z-index: 1000;
}

#name {
    color: #8700D9;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.indexButton{
    margin-left: 10px;
    border: 1px solid black;
    background-color: #00000000;
    color: rgb(0, 0, 0);
    border-radius: 8px;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;  
    cursor: pointer;  
}

.indexButton:hover{
    color: #8700D9;
    border: 1px solid #8700D9;
    background-color: #8600d920;
 }

#buttons {
    font-size: 14px;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    color: rgb(0, 0, 0);
}

#buttons button {
    margin-left: 10px;
    border: none;
    background-color: #000000;
    color: white;
    border-radius: 8px;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;    
    text-transform: uppercase;
    cursor: pointer;
}

#buttons button:hover{
   background-color: #8700D9;
}

#buttons button.active {
    color: #ffffff;
    background-color: #8600d990;
}


/*MAIN*/
#main{
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    z-index: 1;
}

#titolo {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: white;
    color: rgba(0, 0, 0, 0.16);
    padding-top: 120px;
    padding-bottom: 60px;
    text-align: center;
    z-index: 1;
}

#titolo-text {
    grid-column: 2 / 12;
    font-family: 'Inter', sans-serif;
    font-size: 144px;
    text-align: center;
    z-index: 1;
}

#titolo-text em {
    font-style: italic;
}

.categoria{
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    overflow-y: auto;
    position: relative;
    justify-content: space-evenly;
    z-index: 1;
}

.info{
    margin: 10px;
    position: relative;
    line-height: 1.5;
    width: 12.8%;
}

.categoria img {
    max-width: 100%;
    border: 1px solid rgba(135, 0, 217, 1);
    opacity: 0.16;
}

.metadata {
    margin-bottom: 10px;
}

.metadata:hover img{
    opacity: 1;
    box-shadow: inset 0 0 0 1.6px #8700D9;
}

.metadata span{
    color: rgb(0, 0, 0);
    font-size: 12px;
    display: block;
}

.metadata:hover span {
    display: none;
}

.metadata .code {
    display: none;
}

.metadata:hover .code {
    display: block;
    color: #8700D9;
    font-size: 12px;
}

#spazio{
    height: 100px;
    background-color: white;
}


/*FOOTER*/
footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    height: auto;
    background-color: rgb(20, 20, 20);
    padding: 20px;
    width: 100%;
}

.footer-text-1{
    grid-column: 2/6;
    font-size: 14px;
    text-align: left;  
    padding-top: 10px;
    padding-bottom: 60px;
}

.footer-text-2{
    text-decoration: none;
    grid-column: 8/12;
    font-size: 14px;
    text-align: left;  
    padding-top: 10px;
    padding-bottom: 60px;
}


/*RESPONSIVE*/
@media only screen and (max-width: 600px) {
    .info{
        width: 40%;
    }

    #buttons-index {
        font-size: 14px;
        display: flex;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        justify-content: space-between;
        color: rgb(0, 0, 0);
        padding-right: 20px;
    }
  }